logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
!*.lock
*.js
!.eslintrc.js
!.autod.conf.js
!ormconfig.js
*.log
.github/

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
typings/app
typings/config
db/
config/*.ts
!config/plugin.ts
!config/config.default.ts

!config/config.base.ts